In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 


data = pd.read_csv('sunspot.txt',  header=None, delim_whitespace=True)
del data[0] ## Deletes the "year" column
#data = data.rename(columns={1: 'jan', 2: 'feb', 3: 'mar', 4:'apr',
                     #5:'may', 6:'june', 7:'july', 8:'aug',
                     #9:'sept', 10:'oct', 11:'nov', 12:'dec'})
data = data.sort_index(ascending=True)
data.head()

     1     2     3     4     5      6     7      8     9     10     11    12
0  58.0  62.6  70.0  55.7  85.0   83.5  94.8   66.3  75.9  75.5  158.6  85.2
1  73.3  75.9  89.2  88.3  90.0  100.0  85.4  103.0  91.2  65.7   63.3  75.4
2  70.0  43.5  45.3  56.4  60.7   50.7  66.3   59.8  23.5  23.2   28.5  44.0
3  35.0  50.0  71.0  59.3  59.7   39.6  78.4   29.3  27.1  46.6   37.6  40.0
4  44.0  32.0  45.7  38.0  36.0   31.7  22.0   39.0  28.0  25.0   20.0   6.7

In [2]:
label_index = 0
i = 1
j = 9

labels_array = np.array([])

while i < 261:
    labels_array = np.append(labels_array,data.iloc[i][j].tolist())
    label_index+=1
    j+=1
    if(j>12):
        j=1
        i+=1

labels_test = pd.DataFrame(labels_array)
labels_test.head()

      0
0  91.2
1  65.7
2  63.3
3  75.4
4  70.0

In [3]:
i = 0
j = 1
i_start = 0
j_start = 1
count_r = 0
count_c = 0
data_test_set = []

while count_r < 3112:
    data_row = np.array([])
    count_c = 0
    j = j_start
    i = i_start
    
    while count_c < 20:
        count_c+=1
        data_row = np.append(data_row, data.iloc[i][j].tolist())
        j+=1
        if(j>12):
            j=1
            i+=1
            
    j_start+=1
    if j_start > 12:
        j_start = 1
        i_start+=1
    data_test_set.append(data_row)
    count_r+=1
    
data_test = pd.DataFrame(data_test_set)

In [4]:
columns = data_test.columns.tolist()
columns = columns[::-1]
data_test = data_test[columns]
data_test.head()

,19,18,17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0
0,103.0,85.4,100.0,90.0,88.3,89.2,75.9,73.3,85.2,158.6,75.5,75.9,66.3,94.8,83.5,85.0,55.7,70.0,62.6,58.0
1,91.2,103.0,85.4,100.0,90.0,88.3,89.2,75.9,73.3,85.2,158.6,75.5,75.9,66.3,94.8,83.5,85.0,55.7,70.0,62.6
2,65.7,91.2,103.0,85.4,100.0,90.0,88.3,89.2,75.9,73.3,85.2,158.6,75.5,75.9,66.3,94.8,83.5,85.0,55.7,70.0
3,63.3,65.7,91.2,103.0,85.4,100.0,90.0,88.3,89.2,75.9,73.3,85.2,158.6,75.5,75.9,66.3,94.8,83.5,85.0,55.7
4,75.4,63.3,65.7,91.2,103.0,85.4,100.0,90.0,88.3,89.2,75.9,73.3,85.2,158.6,75.5,75.9,66.3,94.8,83.5,85.0